.characteristicsContainer {
  display: grid;
  grid-template-rows: auto auto auto auto;
  border: solid;
}


.characteristicsBarContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  border: solid;
}