
.ratingsContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 100px 200px 250px;
  height: 100%;
  grid-gap: 10px;
}

.starRatingItem {
  display: flex;
}

.numberRating {
  vertical-align: auto;
  font-size: 100px;
  font-weight: bold;
}

.starRating {
  display: inline-block;
  margin: 20px;
}

.characteristicsItem {
  display: grid;
  grid-template-columns: auto;
}
