
.starFilterContainer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.starFilterItem {
  grid-template-rows: auto;
  border: solid;
  margin: 5px;
}

.starLabel {
  text-align: center;
  border: solid;
  margin-right: 20px;

}