
.starFilterContainer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 20px 20px;
}

.starFilterItem {
  grid-template-rows: auto;
  margin: 5px;
}

.starLabel {
  text-align: center;
  text-decoration: underline;
  margin-right: 20px;
  cursor: pointer;
}

.recommendedPercentage {
  padding-top: 15px;
  margin-top: 10px;
}

.removeAllFilters {
  padding-top: 20px;
  cursor: pointer;
  text-decoration: underline;
  padding-bottom: 50px;
}