
.reviewFormContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: solid
}

.imageUploader {
  display: grid;
  border: solid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}

.selectedImage {
  height : 60px;
  width: 60px;
  border: 2px dashed black;
  display: inline-block;
  margin-right: 5px;
}

.headline {
  border: solid;

}

.headlineText {
  width: 50%;
}

.reviewBody {
  border: solid;
}

.reviewBodyText {
  height: 50%;
  width: 50%;
  display: block;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modalMain {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}


.addAReviewButton {
  display: inline-block;
  width: 20%;
  height: 45px;
  padding: 10px;
  margin: 10px;
}
