
.reviewContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-gap: 5px;
  justify-content: space-around;
  border-bottom : 1px solid;
}

.starRating {
  padding-top: 10px;
}

.datePosted {
  text-align: right;
}

.boldedSummary {
  padding: 10px;
  font-weight: bold;
  grid-column: span 2;
  padding-top: 5px;
}

.body {
  padding: 10px;
  grid-column: span 2;
}

.recommendation {
  grid-column: span 2;
}

.responseActive {
  background-color: grey;
  grid-column: span 2;
}

.responseNormal {
  grid-column: span 2;
}

.helpful {
  padding-bottom: 20px;
}
