
.reviewsContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}


.reviewsList {
  display: grid;
  grid-auto-rows: auto;
  overflow-y: scroll;
  max-height: 100%;
  grid-template-columns: 1fr;
  grid-gap: 20px
}

.reviewSorter {
  font-size: 1.2rem;
  font-weight: bolder;
  margin: 5px;
  padding-top: 10px;
}


.moreReviewsButton {
  display: inline-block;
  width: 20%;
  height: 45px;
  padding: 10px;
  margin: 10px;
}


.addAReviewButton {
  display: inline-block;
  width: 20%;
  height: 45px;
  padding: 10px;
  margin: 10px;
}