.grid {
  display: grid;
  height: 100%;
  grid-template-columns: 60% 40%;
  grid-template-rows: 5% 600px 1fr;
  border: 1px solid black;
  max-width: 1200px;
  margin: 0 auto;
}

.item {
  border: 1px solid black;
}

.description {
  padding: 5px;
}

.features {
  padding: 15px 25px;
}
.featureList {
  border-left: 1px solid black;
  padding: 10px
}
.announcement {
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productInfo {
  padding: 15px 25px;
}