
#relatedItemsGrid {
  display: grid;
  grid-template-columns: 1200px;
  grid-template-rows: 50% 1fr;
  gap: 0px 0px;
}
#relatedItemsTitle {
  padding: 0px;
  margin: 20px 48px 5px;
}
#yourOutfitContainer {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px 250px;
  grid-template-rows: 375px;
  gap: 0px 0px;
  padding: 0px;
  margin: 20px 40px 20px;
  overflow: scroll;
}
#relatedProductsContainer {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px 250px;
  grid-template-rows: 375px;
  gap: 0px 0px;
  padding: 0px;
  margin: 20px 40px 20px;
  overflow: scroll;
}
#addOutfit {
  max-height: 100%;
  max-width: 100%;
}
.productCard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 65% 35%;
  gap: 0px 0px;
  /* padding: 9px; */
  border-style: solid;
  border-width: 1px;
  margin: 8px;
}
#addOutfitCard {
  display: grid;
  grid-template-columns: 1fr;
  border-style: transparent;
  border-width: 1px;
  margin: 8px;
}
.productText {
  margin: 5px;
  padding: 8px;
  line-height: 1px;
}
.img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.addOutfit {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 65% 35%;
  gap: 0px 0px;
  /* padding: 9px; */
  border-style: solid;
  border-width: 1px;
  margin: 8px;
}
.productButton {
  position: absolute;
}
